# Required to check Beamer code syntax
CheckMyTex
# Required for Notebooks, it will install IPython and Jupyter
jupyter
# Required for ML
pandas
numpy
plotly
scikit-learn
# Pillow is required for image processing
pillow
# Required for Excel file in Pandas
openpyxl
# Pour les fichiers Parquet
pyarrow
# Required for internetPour MySQL
mysql-connector-python
sqlalchemy
# YData Profiling for data profiling
ydata-profiling